<link rel="stylesheet" href="register.component.css">
<!--Barriga-->
<!--Peña-->
<body>
    <section class="">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-5 mb-5 mb-lg-5">
                    <div class="card">
                        <div class="card-body py-1 px-md-5">
                            <form class="form-horizontal form-material" id="loginform" action="index.html">
                                <!--Icono-->
                                <a href="javascript:void(0)" class="text-center db"><img
                                        src="../../../assets/img/icon.png" width="100" class="my-4"
                                        alt="Home" /></a>
                                <!--Registro-->
                                <h3 class="box-title m-t-40 m-b-0">Nuevo registro</h3><small>Crear nueva cuenta</small>
                                <!--Imputs-->
                                <div class="form-group m-t-20">
                                    <div class="col-xs-12">
                                        <input class="form-control" type="text" required="" placeholder="Nombre">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-xs-12">
                                        <input class="form-control" type="text" required="" placeholder="Correo">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-xs-12">
                                        <input class="form-control" type="password" required=""
                                            placeholder="Contraseña">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input class="form-control" type="password" required=""
                                            placeholder="Repetir Contraseña">
                                    </div>
                                </div>
                                <!--Terminos-->
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="checkbox checkbox-primary p-t-0">
                                            <input id="checkbox-signup" type="checkbox">
                                            <label for="checkbox-signup"> Acepto todos los <a
                                                    href="#">terminos</a></label>
                                        </div>
                                    </div>
                                </div>
                                <!--Boton Registro-->
                                <div class="form-group text-center m-t-20">
                                    <div class="col-xs-12">
                                        <button class="btn btn-secundary btn-block mb-4"
                                            type="submit">Incribirse</button>
                                    </div>
                                </div>
                                <!--Logueo-->
                                <div class="form-group m-b-0">
                                    <div class="col-sm-12 text-center">
                                        <p>Ya tienes una cuenta? <a href="../login"
                                                class="text-info m-l-5"><b>Logueo</b></a></p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>