<div>
    <div class="flex justify-between items-center mx-10">
        <div>
            <button><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="white" class="w-8 h-8 bg-crema rounded-lg p-1">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
                </svg>
            </button>
        </div>
        <div class="">
            <img class="w-24 rounded-full inline-block" src="../../../assets/img/icon.png" alt="logo">
            <h1 class="text-7xl text-blanco font-bold text-center p-6 w-fit inline-block align-middle">Café Oh là là
            </h1>
        </div>

        <div>
            <button class="bg-crema rounded-full text-blanco p-2 w-40 mr-5"><a href="">Iniciar sesión</a></button>
            <button class="bg-crema rounded-full text-blanco p-2 w-40 mr-5"><a href="">Registrarse</a></button>
        </div>
    </div>
</div>