<body>
  <div class="cabecera">
      <h3>Pan Artesanal</h3>
  </div>
  
  <div class="container">
      <div class="card">
          <div class="face front">
              <img src="../../../../assets/img/bread/pan.jpg" alt="" />
              <h3>Pan artesanal</h3>
          </div>
          <div class="face back">
              <h3>Pan artesanal</h3>
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                  consectetur cumque magni amet fugit nihil, vitae vel, culpa adipisci
                  mollitia voluptatem iste eligendi illo asperiores!
              </p>
              <div class="link">
                  <a href="#">Add to car</a>
              </div>
          </div>
      </div>
      <div class="card">
          <div class="face front">
              <img src="../../../../assets/img/bread/pan.jpg" alt="" />
              <h3>Pan artesanal</h3>
          </div>
          <div class="face back">
        <h3>Pan artesanal</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
            consectetur cumque magni amet fugit nihil, vitae vel, culpa adipisci
            mollitia voluptatem iste eligendi illo asperiores!
          </p>
          <div class="link">
              <a href="#">Add to car</a>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="face front">
          <img src="../../../../assets/img/bread/pan.jpg" alt="" />
          <h3>Pan artesanal</h3>
      </div>
      <div class="face back">
          <h3>Pan artesanal</h3>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
              consectetur cumque magni amet fugit nihil, vitae vel, culpa adipisci
              mollitia voluptatem iste eligendi illo asperiores!
          </p>
          <div class="link">
              <a href="#">Add to car</a>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="face front">
          <img src="../../../../assets/img/bread/pan.jpg" alt="" />
          <h3>Pan artesanal</h3>
      </div>
      <div class="face back">
          <h3>Pan artesanal</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
            consectetur cumque magni amet fugit nihil, vitae vel, culpa adipisci
            mollitia voluptatem iste eligendi illo asperiores!
          </p>
          <div class="link">
              <a href="#">Add to car</a>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="face front">
          <img src="../../../../assets/img/bread/pan.jpg" alt="" />
          <h3>Pan artesanal</h3>
      </div>
      <div class="face back">
          <h3>Pan artesanal</h3>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
              consectetur cumque magni amet fugit nihil, vitae vel, culpa adipisci
              mollitia voluptatem iste eligendi illo asperiores!
          </p>
          <div class="link">
              <a href="#">Add to car</a>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="face front">
          <img src="../../../../assets/img/bread/pan.jpg" alt="" />
          <h3>Pan artesanal</h3>
      </div>
      <div class="face back">
          <h3>Pan artesanal</h3>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
              consectetur cumque magni amet fugit nihil, vitae vel, culpa adipisci
              mollitia voluptatem iste eligendi illo asperiores!
          </p>
          <div class="link">
              <a href="#">Add to car</a>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="face front">
          <img src="../../../../assets/img/bread/pan.jpg" alt="" />
          <h3>Pan artesanal</h3>
      </div>
      <div class="face back">
          <h3>Pan artesanal</h3>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
              consectetur cumque magni amet fugit nihil, vitae vel, culpa adipisci
              mollitia voluptatem iste eligendi illo asperiores!
          </p>
          <div class="link">
              <a href="#">Add to car</a>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="face front">
          <img src="../../../../assets/img/bread/pan.jpg" alt="" />
          <h3>Pan artesanal</h3>
      </div>
      <div class="face back">
          <h3>Pan artesanal</h3>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
              consectetur cumque magni amet fugit nihil, vitae vel, culpa adipisci
              mollitia voluptatem iste eligendi illo asperiores!
          </p>
          <div class="link">
              <a href="#">Add to car</a>
          </div>
      </div>
  </div>
  <div class="card">
      <div class="face front">
        <img src="../../../../assets/img/bread/pan.jpg" alt="" />
        <h3>Pan artesanal</h3>
      </div>
      <div class="face back">
          <h3>Pan artesanal</h3>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
              consectetur cumque magni amet fugit nihil, vitae vel, culpa adipisci
              mollitia voluptatem iste eligendi illo asperiores!
          </p>
          <div class="link">
              <a href="#">Add to car</a>
          </div>
      </div>
  </div>
</div>
</body>