*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



body{
    background: url('https://static.vecteezy.com/system/resources/previews/003/093/332/non_2x/seamless-background-coffee-beans-on-brown-color-vector.jpg');;
}

.titulo {
    font-size: 55px;
}

h3 {
    font-size: 25px;
    font-weight: bold;
}
.cabecera{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #f3f3f3;
    width: 100%;
    font-size: 50px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto; /* todos los postres centrados*/
    
}

.card{
    position: relative;
    width: 350px;
    height: 300px;
    margin: 20px;
    
}

/*descrión de las tarjetas*/
.contenido{
    text-align: center;
}

h2 {
    padding: 15px;
    font-weight: bold;

}
h4 {
    padding: 10px;
    font-size: 20px;
}

/*-------------------------------------------*/


.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 1.2s;
}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}


.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.7);
    text-align: center;
    color: wheat;
    background: #c0904b;
}


.card .back {
    transform:  perspective(600px) rotateY(180deg);
    background:#543217;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}


.card .back .link{
    /* border-top: solid 1px #f3f3f3; */
    height: 50px;
    line-height: 50px;
    background: #bc8f51;
    border-radius: 5px;
}

.card .back .link:hover{
    background: #cda46c;
}


.card .back a {
    color: wheat;
    text-decoration: none;
    font-size: 25px;
}

.card .back h3 {
    font-size: 30px;
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
    height: 50px;
    border-radius: 5px;
    letter-spacing: 2px;
    background: #c0904b;
}

.card .back p{
    letter-spacing: 1px;
    height: 350px;
    border-bottom: solid 1px #f3f3f3;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}