<body>
    <div class="cabecera">
        <h3 class="titulo">Postres</h3>
    </div>
    
    <div class="container">
        <div class="card">
            <div class="face front">
                <img src="https://firebasestorage.googleapis.com/v0/b/cafe-oh-la-la.appspot.com/o/postre1.webp?alt=media&token=c19e854d-e72a-4b1a-acc9-b811e182a0aa" alt="" />
                <h3>Cake Chocolate</h3>
            </div>
            <div class="face back">
                <h3>Cake Chocolate</h3>
                <h2>Descripción</h2>
                <p class="contenido">
                  Delicada genovesa rica en chocolate con mousse de chocolate,
                   bañada con ganache.
                </p>
                <h4>$5.98</h4>
                <div class="link">
                    <a href="#">Comprar</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face front">
                <img src="https://firebasestorage.googleapis.com/v0/b/cafe-oh-la-la.appspot.com/o/postre2.png?alt=media&token=b50b4193-d1a7-4b19-8444-90dfc58fd7a0" alt="" />
                <h3>Tiramizú</h3>
            </div>
            <div class="face back">
                <h3>Tiramizú</h3>
                <h2>Descripción</h2>
                <p class="contenido">
            Queso crema aromatizado con café y trocitos de chocolate, decorado con polvo de cacao.
            </p>
            <h4>$5.80</h4>
            <div class="link">
                <a href="#">Comprar</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="https://firebasestorage.googleapis.com/v0/b/cafe-oh-la-la.appspot.com/o/postre3.jpg?alt=media&token=85b0b750-f896-4c2a-a05f-735cd10a7499" alt="" />
            <h3>Tres Leches</h3>
        </div>
        <div class="face back">
            <h3>Tres Leches</h3>
            <h2>Descripción</h2>
            <p class="contenido">
              Bizcocho bañado con tres tipos de leche: leche evaporada, crema de leche y leche
              condensada
            </p>
            <h4>$4.50</h4>
            <div class="link">
                <a href="#">Comprar</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="https://firebasestorage.googleapis.com/v0/b/cafe-oh-la-la.appspot.com/o/postre4.jpg?alt=media&token=0afcc41e-a380-4993-a751-797a6e1ca4e9" alt="" />
            <h3>Chimborazo</h3>
        </div>
        <div class="face back">
            <h3>Chimborazo</h3>
            <h2>Descripción</h2>
          <p class="contenido">
            Genovesas de vainilla y chocolate rellenas con ganache y cubiertas con chocolate
            semiamargo.
            </p>
            <h4>$6.20</h4>
            <div class="link">
                <a href="#">Comprar</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="https://firebasestorage.googleapis.com/v0/b/cafe-oh-la-la.appspot.com/o/postre5.jpg?alt=media&token=9f072209-0f6a-46ea-b8c7-4417ff646b4a" alt="" />
            <h3>Cheescake</h3>
        </div>
        <div class="face back">
            <h3>Cheescake</h3>
            <h2>Descripción</h2>
            <p class="contenido">
              Cheesecake New York al estilo Café oh là là, bañado con salsa de mora. 
            </p>
            <h4>$7.30</h4>
            <div class="link">
                <a href="#">Comprar</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="https://firebasestorage.googleapis.com/v0/b/cafe-oh-la-la.appspot.com/o/postre6.jpg?alt=media&token=e48bef4b-382e-4d3f-881e-48022d4cab62" alt="" />
            <h3>Brazo Gitano</h3>
        </div>
        <div class="face back">
            <h3>Brazo Gitano</h3>
            <h2>Descripción</h2>
            <p class="contenido">
              Bizcocho genovés en plancha fina, con cobertura de crema
               o también mermelada y frutos rojos.
            </p>
            <h4>$8.55</h4>
            <div class="link">
                <a href="#">Comprar</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="https://firebasestorage.googleapis.com/v0/b/cafe-oh-la-la.appspot.com/o/postre7.jpg?alt=media&token=4cc16202-d7a7-4396-b55c-2aaaee4b0909" alt="" />
            <h3>Tarta Frambuesa</h3>
        </div>
        <div class="face back">
            <h3>Tarta Frambuesa</h3>
            <h2>Descripción</h2>
            <p class="contenido">
              Masa dulce crocante con crema mousseline y frambuesas.
            </p>
            <h4>$3.85</h4>
            <div class="link">
                <a href="#">Comprar</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="https://firebasestorage.googleapis.com/v0/b/cafe-oh-la-la.appspot.com/o/tarta%20limon.jpg?alt=media&token=9d712950-c3bd-4b1f-8051-c0975145533b" alt="" />
            <h3>Tarta Limón</h3>
        </div>
        <div class="face back">
            <h3>Tarta Limón</h3>
            <h2>Descripción</h2>
            <p class="contenido">
              Masa dulce crocante rellena con crema de limón,
              decorada con merengue.
            </p>
            <h4>$9.65</h4>
            <div class="link">
                <a href="#">Comprar</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face front">
          <img src="https://firebasestorage.googleapis.com/v0/b/cafe-oh-la-la.appspot.com/o/postre9.jpg?alt=media&token=8e55b54a-08e2-43fb-952c-4757115f15e7" alt="" />
          <h3>Cake Naranja</h3>
        </div>
        <div class="face back">
            <h3>Cake Naranja</h3>
            <h2>Descripción</h2>
            <p class="contenido">
                Delicada genovesa perfumada con naranja natural,
                ralladura de cascara y eseencia de naranja.
            </p>
            <h4>$6.75</h4>
            <div class="link">
                <a href="#">Comprar</a>
            </div>
        </div>
    </div>
  </div>
  </body>