    <div class="w-2/5 bg-blanco mx-auto mb-10 family border-2">
    <!-- header -->
    <div class="    flex flex-col">
        <!-- header top -->
        <div class="flex flex-wrap">
            <!-- header left -->
            <div class="w-2/4 p-5">
                <h1 class="font-bold text-center text-3xl">Café oh la la</h1>
                <h2 class="text-center text-sm">Nombre Propietario</h2>
                <div class="overline w-full h-1 border-2 mt-3"></div>
                <h3 class="mt-2 text-xs"><span class="font-bold">Dirección Matriz: </span>{{"Dirección1"}}</h3>
                <h3 class="mt-0 text-xs"><span class="font-bold">Dirección Sucursal: </span>{{"Dirección2"}}</h3>
            </div>
            <!-- header right -->
            <div class="w-2/4 flex items-center text-center">
                <table class="table-auto mx-auto w-4/5 border-2 border-negro rounded-lg">
                    <tr class="">
                        <th class="border-2 border-negro">R.U.C</th>
                        <td class="border-2 border-negro">{{"65454546"}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">FACTURA</td>
                    </tr>
                    <tr class="">
                        <td colspan="2">NO. {{"0021545"}}</td>
                    </tr>
                    <tr class="">
                        <th class="border-2 border-negro">AUT.SRI</th>
                        <td class="border-2 border-negro">{{"64646"}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- header bottom -->
        <div class="flex flex-wrap p-3">
            <p class="my-1 w-3/6 font-bold bg-blanco2">Sr(es): <span class="font-normal bg-blanco2">{{"Nombreee"}}</span></p>
            <p class="my-1 w-3/6 font-bold bg-blanco2">R.U.C/C.I.: <span class="font-normal bg-blanco2">{{"cedula ruc jeje"}}</span></p>
            <p class="my-1 w-3/6 font-bold bg-blanco2">FECHA EMISIÓN: <span class="font-normal bg-blanco2">{{"fechacfecha"}}</span></p>
            <p class="my-1 w-3/6 font-bold bg-blanco2">GUÍA DE REMISIÓN: <span class="font-normal bg-blanco2">{{"guia ugia p"}}</span></p>
        </div>
    </div>
    <!-- body -->
    <div class="p-5">
        <table class="table-auto border-2 border-negro mx-auto w-full text-center">
            <thead class="bg-chocolate font-bold">
                <tr>
                    <th>CANT.</th>
                    <th>DESCRIPCIÓN</th>
                    <th>P. UNITARIO</th>
                    <th>V. TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>descriptiasd</td>
                    <td>25.00</td>
                    <td>26.00</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>asdasddas</td>
                    <td>23.00</td>
                    <td>24.00</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- footer -->
    <div class="flex flex-wrap px-5 content-around">
        <!-- left footer -->
        <div class="w-4/5 border-2 p-3 flex flex-wrap">
            <div class="w-3/5">
                <h2 class="font-bold text-center">FORMA DE PAGO</h2>
                <table class="table-auto text-center text-xs border-2">
                    <tr>
                        <th class="border-2">EFECTIVO</th>
                        <td>25.00</td>
                    </tr>
                    <tr>
                        <th class="border-2">DINERO ELECTÓNICO</th>
                        <td>25.00</td>
                    </tr>
                    <tr>
                        <th class="border-2">TARJETA DE CRÉDITO / DÉBITO</th>
                        <td>25.00</td>
                    </tr>
                    <tr>
                        <th class="border-2">OTROS</th>
                        <td>25.00</td>
                    </tr>
                </table>
            </div>   
            <div class="w-2/5 flex items-end m-0 pl-3">
                <h2 class="overline text-center font-bold">Recibí Conforme</h2>
            </div>         
        </div>
        <!-- right footer -->
        <div class="w-1/5 mx-auto">
            <table class="table-auto text-xs text-start border-2 h-full">
                <tr>
                    <th>SUB12% IVA</th>
                    <td></td>
                </tr>
                <tr>
                    <th>0% IVA</th>
                    <td></td>
                </tr>
                <tr>
                    <th>DESCUENTO</th>
                    <td></td>
                </tr>
                <tr>
                    <th>SUB TOTAL</th>
                    <td></td>
                </tr>
                <tr>
                    <th>IVA 12%</th>
                    <td></td>
                </tr>
                <tr>
                    <th>TOTAL</th>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>