<div
  class="pt-10 w-full bg-[url('https://www.teahub.io/photos/full/5-53489_photo-wallpaper-tree-coffee-coffee-fondos-de-pantalla.jpg')] bg-contain bg-left-repeat">

  <div class="flex flex-row ml-12">
    <div>
      <div class=" mr-4 bg-crema border-chocolate text-center shadow-2xl rounded-md">
        <h1 class="mt-2 text-lg">¿Comó quieres tu pedido?</h1>
        <hr>
        <div class="flex flex-row justify-center">
          <button class="h-24 rounded boton text-lg">
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 640 512" class="w-6 h-6 ml-14"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M512.9 192c-14.9-.1-29.1 2.3-42.4 6.9L437.6 144H520c13.3 0 24-10.7 24-24V88c0-13.3-10.7-24-24-24h-45.3c-6.8 0-13.3 2.9-17.8 7.9l-37.5
              41.7-22.8-38C392.2 68.4 384.4 64 376 64h-80c-8.8 0-16 7.2-16 16v16c0 8.8 7.2 16 16 16h66.4l19.2 32H227.9c-17.7-23.1-44.9-40-99.9-40H72.5C59 104 47.7
              115 48 128.5c.2 13 10.9 23.5 24 23.5h56c24.5 0 38.7 10.9 47.8 24.8l-11.3 20.5c-13-3.9-26.9-5.7-41.3-5.2C55.9 194.5 1.6 249.6 0 317c-1.6 72.1 56.3 131
              128 131 59.6 0 109.7-40.8 124-96h84.2c13.7 0 24.6-11.4 24-25.1-2.1-47.1 17.5-93.7 56.2-125l12.5 20.8c-27.6 23.7-45.1 58.9-44.8 98.2.5 69.6 57.2 126.5
              126.8 127.1 71.6.7 129.8-57.5 129.2-129.1-.7-69.6-57.6-126.4-127.2-126.9zM128 400c-44.1 0-80-35.9-80-80s35.9-80 80-80c4.2 0 8.4.3 12.5 1L99 316.4c-8.8
              16 2.8 35.6 21 35.6h81.3c-12.4 28.2-40.6 48-73.3 48zm463.9-75.6c-2.2 40.6-35 73.4-75.5 75.5-46.1 2.5-84.4-34.3-84.4-79.9 0-21.4 8.4-40.8 22.1-55.1l49.4
               82.4c4.5 7.6 14.4 10 22 5.5l13.7-8.2c7.6-4.5 10-14.4 5.5-22l-48.6-80.9c5.2-1.1 10.5-1.6 15.9-1.6 45.6-.1 82.3 38.2 79.9 84.3z">
              </path>
            </svg>
            Delivery</button>
          <button class="h-24 rounded boton2 text-lg">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6 ml-14">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
            </svg>
            Retirar</button>
        </div>
        <div>
          <button class="flex flex-row shadow-md rounded-md font-semibold text-md bg-chocolate text-blanco ubicacion">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6 ">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
              </svg>
            </div>
            <div>
              <strong>Compartir mi ubicación</strong>
            </div>
          </button>
          <div class="mt-4 correo1">
            <input type="text" placeholder="Dirección de entrega" class=" borde rounded bg-crema ">
          </div>
          <div class="w-40 ml-40">
            <span>Ej: Av. Naciones unidas</span>
          </div>
          <div class="mt-4 correo1">
            <input type="text" placeholder="Dirección de entrega" class=" borde rounded bg-crema">
          </div>
          <div class="w-40 ml-40">
            <span>Ej: Número Depto/casa</span>
          </div>
          <button class="shadow-md rounded-md font-semibold px-5 py-3 text-md mt-4 bg-chocolate text-blanco usar">Usar
            esta direccion</button>
        </div>
        <br>

      </div>
      <br>
      <div class="bg-crema border-chocolate text-center shadow-2xl rounded-md">
        <h1 class="mt-2 text-lg">Mi pedido</h1>
        <hr>
        <div class="flex items-center">
          <svg class="ml-6" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
            width="1em" xmlns="http://www.w3.org/2000/svg">
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path
              d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z">
            </path>
          </svg>
          <span class="ml-2 font-medium text-lg">Email</span>
        </div>
        <div class="correo">
          <input class="borde rounded bg-crema" type="email" placeholder="ejemplo@correo.cl" value="">
        </div>
        <div class="mt-2">
          <div class="flex items-center">
            <svg class="ml-6" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"
              height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
              <path fill="none" d="M0 0h24v24H0z"></path>
              <path
                d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z">
              </path>
            </svg>
            <span class="ml-2 font-medium text-lg">Nombre y apellido</span>
          </div>
          <div class="flex flex-row">
            <div class="correo">
              <input class="borde rounded bg-crema" type="email" placeholder="Nombre" value="">
            </div>
            <div class="correo mr-4">
              <input class="borde rounded bg-crema" type="email" placeholder="Apellido" value="">
            </div>
          </div>
        </div>
        <div class="flex items-center mt-2">
          <svg class="ml-6" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
            width="1em" xmlns="http://www.w3.org/2000/svg">
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path
              d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z">
            </path>
          </svg>
          <span class="ml-2 font-medium text-lg">Teléfono
            <span class="ml-1 text-lg">En caso de problemas con tu pedido</span>
          </span>
        </div>
        <div class="correo">
          <input class="borde rounded bg-crema" type="text" placeholder="098318123" value="">
        </div>
        <button type="submit" form="formId"
          class=" shadow-md rounded-md font-semibold px-5 py-3 text-md mt-4 bg-chocolate text-blanco">
          Guardar Datos
        </button>
        <br>
        <br>
      </div>
      <br>
    </div>
    <div class="bg-crema border-chocolate shadow-2xl rounded-md ml-12 mt-1 pedido p-4 text-lg total">
      <hr>
      <div class="flex flex-row mt-8">
        <div>
          <svg width="29" height="29" viewBox="0 0 29 29" xmlns="http://www.w3.org/2000/svg">
            <rect width="29" height="29" rx="4" fill="currentColor"></rect>
            <path d="M19.375 9.7H17.75C17.75 7.932 16.2956 6.5 14.5 6.5C12.7044 6.5 11.25
          7.932 11.25 9.7H9.625C8.73125 9.7 8 10.42 8 11.3V20.9C8 21.78 8.73125 22.5 9.625
          22.5H19.375C20.2688 22.5 21 21.78 21 20.9V11.3C21 10.42 20.2688 9.7 19.375 9.7ZM14.5
          8.1C15.3938 8.1 16.125 8.82 16.125 9.7H12.875C12.875 8.82 13.6062 8.1 14.5 8.1ZM19.375
          20.9H9.625V11.3H11.25V12.9C11.25 13.34 11.6156 13.7 12.0625 13.7C12.5094 13.7 12.875 13.34
          12.875 12.9V11.3H16.125V12.9C16.125 13.34 16.4906 13.7 16.9375 13.7C17.3844 13.7 17.75 13.34
          17.75 12.9V11.3H19.375V20.9Z" fill="white">
            </path>
          </svg>
        </div>
        <div class="ml-2 grow text-left">
          <h2>Tus productos son:</h2>
        </div>
      </div>
      <div class="flex flex-row mt-4">
        <div>
          <select class="bg-chocolate w-8 h-6" name="" id="">
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
            <option value="">5</option>
            <option value="">6</option>
            <option value="">7</option>
            <option value="">8</option>
            <option value="">9</option>
            <option value="">10</option>
            <option value="">mas</option>
          </select>
        </div>
        <div class="ml-2 grow">
          <span>Torta de chocolate</span>
        </div>
        <div>
          <span>$20.40</span>
        </div>
      </div>
      <div class="flex flex-row mt-4">
        <div >
          <select class="bg-chocolate w-8 h-6" name="" id="">
            <option value="">1</option>
            <option value="">3</option>
            <option value="">4</option>
            <option value="">5</option>
            <option value="">6</option>
            <option value="">7</option>
            <option value="">8</option>
            <option value="">9</option>
            <option value="">10</option>
            <option value="">mas</option>
          </select>
        </div>
        <div class="ml-2 grow">
          <span>Tiramizu</span>
        </div>
        <div>
          <span>$30.40</span>
        </div>
      </div>
      <br>
      <hr>
      <div class="flex flex-row">
        <div class="grow">
          <span>Subtotal a pagar</span>
        </div>
        <div>
          <span>$50.80</span>
        </div>
      </div>
      <div class="flex flex-row">
        <div class="grow">
          <span>Total a pagar</span>
        </div>
        <div>
          <span>$50.80</span>
        </div>
      </div>
      <br>
      <div class="text-center">
        <button class=" shadow-md rounded-md font-semibold px-5 py-3 text-md mt-4 bg-chocolate text-blanco">Continuar
          con el pago</button>
      </div>
    </div>
  </div>
  <br>
